    :root {
      --main-bg-opacity: 0.8;
      --page-bg-color: white;
      --guinda-bg-color: rgb(51,0,0);
      --grey-bg-color: rgb(194,194,194);
      --grey-tiendas-bg-color: rgb(51,51,51);
      --img-quienes-somos: url("../img/quienes_somos/fondo.png");
      --img-comedores: url("../img/comedores/03_01.png");
      --img-recamaras: url("../img/recamaras/01.png");
      --img-back-tienda: url("../img/tiendas/fondo_tienda.png");
      --img-back-tiendas: url("../img/tiendas/fondo.png");
    }

    @font-face {
      font-family: 'GADUGI';
      src: url('../fonts/Gadugi.woff') format('woff');
    }

    @font-face {
      font-family: 'MONBAITI';
      src: url('../fonts/monbaiti.woff') format('woff');
    }

    body{ 
      font-family: 'GADUGI'; 
      background-color: var(--page-bg-color);
      color: var(--guinda-bg-color);
    }

    .divider{
      height: 35px;
      background-image: linear-gradient(to right, var(--guinda-bg-color) , white);
    }

    .fondoQuienesSomos{
      background-image: var(--img-quienes-somos);
    }

    .degradadoVino{
      background-image: linear-gradient(to right, var(--guinda-bg-color) , white);
    }

    .title{
      font-size: 45px;
    }

    #comedoresContainer{
      font-family: 'MONBAITI';
      padding-top: 2%;
      height: 100px;
      text-align: right;
      background-image: var(--img-comedores);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      font-size: 45px;
    }

    #recamarasContainer{
      font-family: 'MONBAITI';
      padding-top: 2%;
      height: 100px;
      text-align: left;
      background-image: var(--img-recamaras);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      font-size: 45px;
    }

    #coleccionRight{
      font-family: 'MONBAITI';
      padding-top: 8px;
      background-color: var(--guinda-bg-color);
      color: white;
      font-size: 25px;
      text-align: center;
    }

    .line{
      display: block;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      margin-left: auto;
      margin-right: auto;
      border-style: inset;
      border-width: 2px;
      border-color: white;
      margin-top: 0px;
    }

    #comedoresContainerBody{
      padding: 0px;
    }

    .imgRightColumn{
      width: 70%; 
      margin-top: 10%;
    }

    .imgLeftColumn{
      width: 70%; 
      margin-top: 10%;
    }

    .center{
      text-align: center;
    }

    .footer{
      background-image: linear-gradient(to right, var(--guinda-bg-color) , white);
      color: white;
    }

    .greyBackgroundLeft{
      background-image: linear-gradient(to right, var(--grey-bg-color) , white);
    }

    .greyBackgroundRight{
      background-image: linear-gradient(to left, var(--grey-bg-color) , white);
    }

    /*
    @media only screen and (max-width: 750px) {
      [class="tienda"] {
        height: 320px;
        font-size:70%;
      }
    }

    @media only screen and (min-width: 751px) {
      [class="tienda"] {
        height: 460px;
        font-size:120%;
      }
    }*/

    .titleTiendas{
      margin-top:30px;
      background-color: var(--grey-tiendas-bg-color);
      color: white;
      font-family: 'MONBAITI';
    }

    .imgTitleTienda{
      width: 100%;
      margin-bottom: 20px;
    }

    .tiendaContainerGlobal{
      background-image: var(--img-back-tiendas);
      background-size: cover;
      background-repeat:no-repeat;
    }

    .tiendaContainer{
      padding: 3%;
    }

    .tienda{
      background-image: var(--img-back-tienda);
      background-size: 100% 100%;
      /*background-size: contain;*/
      background-repeat:no-repeat;

      padding: 20%;
    }

    .icon{
      margin-top: 5px;
      margin-right: 5px;
    }